@font-face {
  font-family: "DNFForgedBlade";
  src: url("./font/DNFForgedBlade-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DNFForgedBlade";
  src: url("./font/DNFForgedBlade-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DNFForgedBlade";
  src: url("./font/DNFForgedBlade-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}